.App{
  background-color: grey;
  height: 100%;
  position:absolute;
  width: 100%;
}
.body{
  padding-left: 20px;
}

.nav{
  display: flex;
  background-color: black;
  align-items: center;
  flex-wrap: nowrap;
}

.nav-logo{
  width: 100px;
}

.nav-h1{
  color: rgb(186, 228, 245);
}
.nav-content{
  margin-left: 70%;
  color: white;
}

ul > li::before{
  color: rgb(186, 228, 245);
}
